[MASTER]
ignore = migrations,tests,manage.py
django-settings-module=config.settings
load-plugins = 
    pylint_common, 
    pylint_django

[MESSAGES CONTROL]
disable=
    django-not-configured,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    locally-disabled,
    too-few-public-methods

[FORMAT]
max-module-lines=1000
max-line-length=120

[DESIGN]
max-args=10