include LICENSE
include README.md

recursive-include django_admin_inline_paginator/templates *
recursive-include django_admin_inline_paginator/static *
recursive-include django_admin_inline_paginator/locale *
global-exclude __pycache__
global-exclude *.py[co]